<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Single Product Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style = "background-color:grey" >

<form action="http://localhost:6300/login1 " method = "POST">
<div class="container" style="
margin-top:180px;
<!--margin-bottom:100px;-->
margin-right:150px;
margin-left:10pz;

">
     <div class="col-md-6">

        <h3>Login Into Product Analysis Page</h3><br>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Email-id</span>
        <input type="text" class="form-control" name="email" id="user" aria-describedby="basic-addon3" placeholder="eg:sandip@microsoft.com" >
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Password</span>
        <input type="password" class="form-control" id="pass" name="password" aria-describedby="basic-addon3" placeholder="enter password">
    </div>
    <br>
    <input type="Submit" value="Login" class="btn btn-default btn-sm">

     </div>
</div>
    </form>
</body>
</html>